@model Web.Models.AdvertisementDto

@{
    ViewData["Title"] = "Opdater";
}

<h1>Opdater</h1>

<h4>Annonce</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="SelectedCategories" class="form-select form-control" multiple>
                  <option value="0">Intet</option>
                  <option value="1">Tandlæge</option>
                  <option value="2">Læge</option>
                  <option value="3">Fysioterapi</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Files" class="control-label"></label>
                <input asp-for="Files" class="form-control" type="file" multiple />
                @if(Model.AdvertisementFileDtos != null)
                {
                    @foreach(var file in Model.AdvertisementFileDtos)
                    {
                        <img src="@file.ImageUrl" height="100" width="100" />
                    }
                }
                <span asp-validation-for="Files" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsOffer" /> @Html.DisplayNameFor(model => model.IsOffer)
                </label>
            </div>
            <input asp-for="ApplicationUserId" hidden="hidden"/>
            <div class="form-group">
                <input type="submit" value="Opdater" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tilbage</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
