@using Microsoft.AspNetCore.Identity
@using Web.Data
@inject SignInManager<ApplicationUser> SignInManager
@model Web.Models.AdvertisementVm

@{
    ViewData["Title"] = "Annoncer";
}

<h1>Annoncer</h1>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create">Opret</a>
    </p>
    <p>
        <a asp-action="MyAdds">Mine Annoncer</a>
    </p>
}
<form asp-action="Index" asp-controller="Advertisement" method="get">
    <div class="row g-2 mb-3">
        <div class="col-md">
            <div class="form-floating">
                <input class="form-control" asp-for="AdvertisementSearchDto.ProductName" />
                <label asp-for="AdvertisementSearchDto.ProductName">Produkt navn</label>
            </div>
        </div>
    </div>
    <div class="row g-2 mb-3">
        <div class="col-md">
            <div class="form-floating">
                <input class="form-control" asp-for="AdvertisementSearchDto.YearFrom" />
                <label asp-for="AdvertisementSearchDto.YearFrom">Årgang fra</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <input class="form-control" asp-for="AdvertisementSearchDto.YearTo" />
                <label asp-for="AdvertisementSearchDto.YearTo">Årgang til</label>
            </div>
        </div>
    </div>
    <div class="row g-2 mb-3">
        <div class="col-md">
            <div class="form-floating">
                <input class="form-control" asp-for="AdvertisementSearchDto.PriceFrom" />
                <label asp-for="AdvertisementSearchDto.PriceFrom">Pris fra</label>
            </div>
        </div>
        <div class="col-md">
            <div class="form-floating">
                <input class="form-control" asp-for="AdvertisementSearchDto.PriceTo" />
                <label asp-for="AdvertisementSearchDto.PriceTo">Pris til</label>
            </div>
        </div>
    </div>
    <div class="row g-2 mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" asp-for="AdvertisementSearchDto.IsOffer">
          <label class="form-check-label" asp-for="AdvertisementSearchDto.IsOffer">Byd på pris</label>
        </div>
    </div>
    <div class="form-group">
        <button id="addSearchBtn" class="btn btn-primary">Søg</button>
    </div>
</form>
<div id="advPartial">
    <partial name="_AddsPartial" model="Model.Advertisements" />
</div>